{%load static%}
<html class="page">
    <head>
        <link rel="stylesheet" href="{%static 'BakeryHome/gallery.css'%}">
    </head>

    <body>
        <div class="top-bar">
            <a href="/" class="top-bar-name">{{BakeryInfo.BakeryName}} gallery!</a>
        </div>

        <div class="item-container">
            <img src="{% static 'BakeryHome/images/CupCake.jpg'%}" alt="StrawberryCupcake" class="item-img">
            <p class="item-description"> Our top sold cupcakes!<br>
            soft buttery mix with stawberry filled center <br>
            their popular for a reason</p>
        </div>

        <div class="item-container">
            <img src="{% static 'BakeryHome/images/Bread.jpeg'%}" alt="Bread" class="item-img">
            <p class="item-description"> Bread rolls<br>
            baked and coated with our home-made cinnamon butter!</p>
        </div>

    </body>
</html>