{% load static %}
<html class="page">
    <head>
        <link rel="stylesheet" href="{%static 'BakeryHome/home.css'%}">
    </head>
    <body>

        <div class="top-bar">
            <a href="/" class="top-bar-name">{{Info.BakeryName}}</a>
        </div>

        <div class="home-main">

           <h1 class="cake-text">
                This months weekly special<br>
                Strawberry Shortcake,<br>
                Contact us to place your order in<br>
                see details below<br>
                <a href="/contact-us" class="weekly-special-contact">Contact us!</a>
           </h1>
            <img src="{% static 'BakeryHome/images/Cake.png' %}" alt="StrawberryCake" class="cake-image">
        </div>
        

        <div class="home-bottom">
            <p class="bakery-description">{{Info.BakeryDescription}}</p>
            <h1 class="bottom-text"> Contact us below!</h1>
            <a href="/contact-us" class="contact-bottom-text">Contact us!</a>
        </div>
        


    </body>
</html>